*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.peopleList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;

}

.person{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  background-color: #fafafa;
  border-radius: 10px;

}

.person h1{
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
  padding: 20px;
}

.person p{
  display: flex;
  font-size: 1.2em;
  margin-bottom: 1em;
  align-self: flex-start;
}